<!DOCTYPE html>
<html>
<head>
    <title>Dog Breed Identification</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <h2>DOG BREED IDENTIFICATION</h2>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
</div>


<!-- MAIN CARD -->
<div class="main-container">

    <h1>Dog Breed Identification</h1>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br><br>
        <button type="submit">Predict</button>

    </form>

</div>

</body>
</html>
